<div class="main-content-header">
    <div class="row">
        <h1>Name Your CCG</h1>
    </div>
</div>

<div class="row">
    <span class="span12">
        <input id="ccgName" class="chooseName text-center" type="text" placeholder="Choose a Name...">
    </span>
</div>