<div class="main-content-header">
    <div class="row">
        <h1>Choose a Card Template Background</h1>
    </div>
</div>

<div class="row">
    <div class="container-alerts">
        <div id="imgReqsAlert" class="alert alert-error alert-block">
            <button type="button" class="close">&times;</button>
            <h4 class="alert-heading">That image is invalid!</h4><br/>
            <b>The image requirements are:</b>
            <ul>
                <li>JPEG,PNG</li>
                <li>< 500 KB</li>
                <li>3:4 aspect ratio</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <span class="span5">
        <h4 style="text-align: left; padding-left: 15%">

            Drag and Drop a Template Background <strong class="required-star text-med">*</strong>
            <a id="imgreqsTooltip" class="tooltipLink" href="#"
                data-toggle="tooltip"
                data-placement="right"
                data-html="true"
                title="
                <h4>Image Requirements:</h4>
                <ul>
                    <li>JPEG,PNG</li>
                    <li>< 500 KB</li>
                    <li>3:4 aspect ratio</li>
                </ul>
                ">(?)
            </a>
            :

        </h4>
        <div id="templatePreview" class="card-template-preview"></div>
    </span>

    <span class="span2"><h2>OR</h2></span>

    <span class="span5">
        <h4>Drag over a Template Background:</h4>
        <div id="cardTemplateSelection" class="card-template-selection text-left">
            <span id="template01"><img src="../img/card-templates/template01_150x200.jpg"></span>
            <span id="template01"><img src="../img/card-templates/template01_150x200.jpg"></span>
            <span id="template01" class="no-margin-bottom"><img src="../img/card-templates/template01_150x200.jpg"></span>
            <span id="template01" class="no-margin-bottom"><img src="../img/card-templates/template01_150x200.jpg"></span>
        </div>
    </span>
</div>