<div class="main-content-header">
    <div class="row"><h1>Choose a Card Template Background</h1></div>
</div>
<div class="row">
    <span class="span5">
        <div id="alerts"></div>
        <h4 style="text-align: left; padding-left: 20%">Upload a Template Background <strong class="required-star text-med">*</strong>:</h4>

        <div class="alert alert-block alert-info" style="margin-left: 15%; margin-right: 10%;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Wait!</h4>
            <p>
                {{infoText}}
            </p>
        </div>

        <div id="templatePreview" class="card-template-preview-fallback"></div>
    </span>

    <span class="span2"><h2>OR</h2></span>

    <span class="span5">
        <h4>Click to Choose a Template Background:</h4>
        <div id="cardTemplateSelection" class="card-template-selection text-left">
            <span id="template01"><img src="img/card-templates/template01_150x200.jpg"></span>
            <span id="template01"><img src="img/card-templates/template01_150x200.jpg"></span>
            <span id="template01" class="no-margin-bottom"><img src="img/card-templates/template01_150x200.jpg"></span>
            <span id="template01" class="no-margin-bottom"><img src="img/card-templates/template01_150x200.jpg"></span>
        </div>
    </span>
</div>