<div class="main-content-header">
    <div class="row">
        <h1>Assign Template Components</h1>
    </div>
</div>

<div class="row">
    <span class="span12">
    	<div class="container-addComponent">
    		<button id="addComponentBtn" class="btn btn-large">Add Component</button>
    	</div>
    	
    	<div>
    		<canvas id="componentsCanvas" width="300" height="400"></canvas>
    	</div>
    </span>
</div>